body {
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
}

#main {
	margin:5px;
}

.txt {

}

.button {
	border-style:solid;
	border:5px;
	cursor:pointer;
}

#coinname {
	font-size:30px;
	margin-top:45px;
}

#coinlogo {
	width:40px;
	margin-top:8px;
}

.gamedata {
	font-size:20px;
}

#namelogolist {
	display:inline;
	list-style-type: none;
}

.list {
float: left;
padding:0px 2px;
}

#title {
	margin-top:-30px;
}

#coinNameinp {
display:block;
}

#finalmoney {
	margin-top: -80px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
  font-size:70px;
 display:none;
}

.select {
	background-color:#000;
	color:white;
	padding:3px;
	margin:1px;
	cursor:pointer;

}

#game {
	display:none;
}

#value {
	font-size:35px;
}

#buysell {
    user-select: none;
	list-style-type: none;
	float:left;
    display:inline;
}

#buy {
		-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
	moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
	border-style:solid;
	padding:2px 8px;
	background-color:black;
	color:white;
	display:inline;
	font-size:30px;
	cursor:pointer;
	margin:0px 52px 0 0;
}

#sell {
		-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
	moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
	border-style:solid;
	padding:2px 8px;
	background-color:black;
	color:white;
	display:inline;
	font-size:30px;
	cursor:pointer;
}

a {
	color:black;
}

#madeby {
	bottom:0;
	position:absolute;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
		#finalmoney {
	  font-size:30px;
	}
}
